#Extensions
*.aim
*.o
*.log
*.pdf
*.eps
*.png
*.gnp
*.pov
*.dat
*.cpx
*.cub
*.cube
*.tsv
*.inp
*.xyz
*.wfx
*.pdb
cachegrind.*
*.gz
*.aux
*.bbl
*.toc
*.lof
*.lot
*.blg
*.out
*.bkp
*.user
*.x
*.a
*.swp
update*.sh
lclUpdateFiles.sh

#binaries

#Trash and system files
*~
.DS_Store
scripts/g4xxxaddGPLv3
scripts/g4xxxrmGPLv3

#Directories
bin/*
bib/*
pres/*
taring/*
mathematica/*
discuss/*
proc/*
outputs/*
src/test/*
src/bin/*
tex/*.*
arts/*
scripts/bkpCH4
scripts/oldCH4
#specific files

